{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %} ">
    <title>学员管理系统</title>

</head>
<body>
<script src="{% static 'layui/layui.js' %}"></script>
<script>
    layui.use('table', function() {
        var table = layui.table;

//转换静态表格
        table.init('demo', {
            height: 400 //设置高度
            , page:true,
            limit:10,//注意：请务必确保 limit 参数（默认：10）是与你服务端限定的数据条数一致
            //支持所有基础参数
        });
    })
</script>
<h3><a href="/admin/">Admin</a> </h3>
<div>
    <form method="post" action="/search_name/">
{% csrf_token %}
    {{ formQuery }}
    <input type="submit" value="查询">
    </form>
</div>
<table  lay-filter="demo">
<thead>
<tr >
        <th lay-data="{sort: true, field:'1'}">姓名</th>
        <th lay-data="{field: '2'}">性别</th>
        <th lay-data="{field: '3'}">职业</th>
        <th lay-data="{field: '4'}">Email</th>
        <th lay-data="{field: '5'}">QQ</th>
        <th lay-data="{field: '6'}">电话</th>
        <th lay-data="{field: '7'}">申请时间</th>
    </tr>
</thead>
    <tbody>

 {% for student in students %}
        <tr>
        <td >{{ student.name }}</td>
        <td>{{ student.get_sex_display }}</td>
        <td>{{ student.profession }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.qq }}</td>
        <td>{{ student.phone }}</td>
        <td>{{ student.created_time }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<hr/>
<form action="/" method="post">
{% csrf_token %}
    {{ form }}
    <input type="submit" value="提交" />
</form>


</body>
</html>